<div id="header">
    <div id="lang_menu">

        <div *ngFor="#item of navi; #i = index" (click)="onNavi(0, i)">

            <a>{{item.name}}</a>

        </div>

    </div>
    <div id="logo"></div>
</div>
<div id="menu_outer">
    <div id="menu_container">
        <div id="topmenu">
            <span *ngFor="#item of navi[curNaviIdx[0]].sub; #i = index" (click)="onNavi(1, i)">

                    <a>{{item.name}}</a>

                </span>
        </div>
    </div>
</div>



<div id="main_outer">

    
    {{curNaviIdx[0]}} {{curNaviIdx[1]}}

    <div id="main_container">
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>