<div id="banner">SlenderSite demo</div>
<div id="navi1">
    <div *ngFor="#item of navi; #i = index" 
        (click)="onNavi(0, i)" 
        [class.is-active]="i == curNaviIdx[0]">
        <a href="/#/{{item.page}}/{{item.sub[0].page}}">{{item.name}}</a>
    </div>

</div>

<div id="main">
    <div id="navi2">
        <div *ngFor="#item of navi[curNaviIdx[0]].sub; #i = index" 
            (click)="onNavi(1, i)" 
            [class.is-active]="i == curNaviIdx[1]">

            <a href="/#/{{navi[curNaviIdx[0]].page}}/{{item.page}}">{{item.name}}</a>
        </div>
    </div>
    <div id="page">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="footer">
    <div>&copy; SubSite - Fredrik Welander 2016 <a href="http://www.subsite.fi/#/in-english">http://www.subsite.fi</a></div>
</div>