body {
	margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: rgb(50,50,50);
}
ss-app>div {
  float: left;
}

#banner {
    width: 100%;
    height: 20vh;
    font-size: 3em; 
    padding-top: 5vh;
    color: white;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#navi1 {
    width: 100%;
    padding-left: 2vw;
    border-top: 1px solid white;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3dff5a+0,57c93e+100 */
    background: #3dff5a; /* Old browsers */
    background: -moz-linear-gradient(top, #3dff5a 0%, #57c93e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3dff5a 0%,#57c93e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3dff5a 0%,#57c93e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#navi1>div, #navi2>div {
    cursor: pointer;
}
#navi1>div {
    float: left;
    padding: 2vh;
    font-size: 1.2em;
    color: white;
}

#navi2, #page {
   min-height: 60vh; 
   padding-top: 1em;  
   padding-left: 1em;
}

#navi2 {
    width: 20%;
}
#navi2>div {
    line-height: 1.5em;
}
#navi1>div:hover, #navi2>div:hover {
    color: silver;
} 
#page {
     width: 70%;
     border-left: 1px solid rgb(80,80,80);
     
}
code {
    display: inline-block;
    width: 100%;
    background-color: rgb(220,220,220);
    padding: 5px;
}
